

h2 {
    color: #4caf50;
    border-bottom: 2px solid #4caf50;
    padding-bottom: 5px;
    margin-top: 20px;
}

p {
    margin-bottom: 15px;
}

/* Add more styles as needed */

/* Container style */
.container {
    max-width: 800px;
    margin:  70px auto;
}


/* Main content style */
main {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}