.best-sellers-container {
    max-width: 1000px;
    margin: 70px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    border-radius: 10px;
    text-align: center;
}

.product-card {
    border-radius: 8px;
    padding: 30px;;
    margin-bottom: 20px;
    background-color: #e9e7e7;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 60%;
    border-radius: 8px;
}

.product-card h3,
.product-card p {
    margin-bottom: 20px;
}

.product-card a {
    color: #0a0a0a;
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.call-to-action a, 
.navigation a   {
    color: #0a0a0a;
    text-decoration: underline;
}

.featured-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.customer-reviews {
    margin-top: 20px;
}





/* media queries */

@media(max-width: 1024px)

{
    .best-sellers-container {
        max-width: 900px;
    }

    .product-card img {
        width: 42%;
        border-radius: 8px;
    }
}



@media(max-width: 768px)

{
    .best-sellers-container {
        max-width: 620px;
    }

    .product-card img {
        width: 28%;
        border-radius: 8px;
    }

}

@media(max-width: 425px)

{
    .best-sellers-container {
        max-width: 430px;
        border-radius: 0px;
        margin-top: 55px;
        margin-bottom: 0px;
    }

    .product-card img {
        width: 50%;
        border-radius: 8px;
    }

}






