footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .copyright {
    margin-bottom: 10px;
  }
  
  .reference {
    font-size: 1.0em;
    cursor: pointer;
  }

  .reference a{
    text-decoration: none;
    color: #fff;
  }

 .reference a:hover {
    text-decoration: underline;
}

  