body {
    margin: 0; 
    padding-top:  6%; 
}

*{
text-decoration: none;
box-sizing: border-box;
outline: none;
border: none;
transition: all .2s linear;
}


html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    background: linear-gradient( #534d47, #837c76, #aca29a);
    position: fixed;
    top: 0; left: 0; right: 0;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);

}

header .logo img {
    max-width: 280px;
    margin-left: -70px;
}

header .navbar a
{
    font-size: 17px;
    border-radius: .5rem;
    padding: 1rem .8rem;
    color: rgb(37, 37, 37);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

header .navbar a:hover
{
    color: #000000;
    background: linear-gradient( #dacec0, #c5c5c5);
}

 header  .end
{
display: flex;
align-items: center;
justify-content: space-around;
}

header .icons #menu-bars
{
display: none;
cursor: pointer;
}

.icons i{
    margin-right: 30px;
    font-size:36px
}

.order-box button{
    background: linear-gradient( #dacec0, #c5c5c5);
    color: rgb(0, 0, 0);
    margin-right: -50px;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
    width: 120px; 
    height: 50px; 
    border: 1px solid #410909;
}





/* media queries */

@media(max-width: 1016px)
{

    html
    {
        font-size: 90%;
    }


    header .logo img
     {
        max-width: 200px;
        margin-left: -50px;
    }
}

@media(max-width: 932px)
{
    header .icons #menu-bars
    {
    display: inline-block;
    } 

    header .navbar
    {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #363636;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active
    {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a
    {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        background: #eee;
    }

    header .logo img
    {
       max-width: 200px;
       margin-left: -20px;
   }

   .order-box button
   {    
    margin-right: 0;
    }

}


@media(max-width: 425px)
{
    header .logo img
    {
       max-width: 160px;
       margin-left: -20px;
   }

    .icons i{
        margin-right: 10px;
    } 

    .order-box button{
        margin-right: -25px;
    }
    
}

@media(max-width: 375px)
{
    .icons i{
        margin-right: 4px;
    }  

.order-box button
   {    
    margin-right: -15px;
    width: 80px;
    padding: 2px;
    }

}