body {
    margin: 0; /* Remove margin around the body */
    padding-top:  6%; /* Remove padding from the body */         
}

header {
    background: linear-gradient( #998c7b, #695951);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0; /* Add padding to give some space */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
    
}

.logo img {
    max-width: 280px;
    margin: 10px 20px; /* Add margin to the logo image for spacing */
}


.logo-container {
    display: flex;
    align-items: center;
    font-size: larger;
}

.menu ul {
    list-style: none;
    padding:0;
    display: flex;
}

.menu li {
    font-size: 150%;
    margin-right: 30px;
}

.menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline; /* Change to your desired hover text decoration */
}

/* Add active class to highlight the current page */
.menu li.active a {
    text-decoration: underline; /* Change to your desired active text decoration */
}

.header-text {
    text-align: center;
}

p {
    margin: 50px;
}


.order-box button{
    background-color: transparent; /* Background color */
    color: rgb(255, 255, 255);
    padding: 10px 20px; /* Add padding inside the box */
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners for the box */
    display: flex; /* Display as a flex container to align vertically */
    align-items: center; /* Center the content vertically */
    width: 120px; /* Set the width of the box */
    height: 50px; /* Set the height of the box */
    border: 1px solid #410909; /* Add a border to the box */
    background: linear-gradient( #92826d, #695951);
    
}

.order-box button:hover{
    background-color: rgb(58, 17, 17);
}

.home-contact {
    display: flex;
    align-items: center;
}



