

h1, h2, h3{
    color: #333;
    text-align: center;
}


.section {
    margin-top: 50px;
    margin-bottom: 100px;
}

.intro h2{
margin-bottom: 15px;
}
.intro p{
    margin-top: 1px;
    }

.menu-container {
    max-width: 1000px;
    margin: 70px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    border-radius: 10px;
    text-align: center;
}



.menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    margin:30px;
}

.menu-item {
    display: flex;
    background-color: #f0eeee;
    border: 1px solid #d1d0d0;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    max-width: 100%; 
    margin: 4% auto;
}

.item-details {
    flex: 1;
    background-color: #c2c1c1;
    padding: 25px;
    text-align: left;
}

.menu-item h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #000000;
}

.menu-item p {
    color: #000000;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.item-details dl dd dt {
text-align: left; 
}






/* media queries start here */

@media(max-width: 1024px)

{
    .menu-container {
        max-width: 900px;
    }

}


@media(max-width: 768px)

{
    .menu-container {
        max-width: 620px;
    }

    .menu-items {
        margin-left: 70px;
        margin-right: 70px;
    }

}


@media(max-width: 425px)

{
    .menu-container {
        max-width: 430px;
        border-radius: 0px;
        margin-top: 55px;
        margin-bottom: 0px;
    
    }

    .menu-items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin: 20px;
    }

    .menu-item img {
        width: 120px; 
        height: 150px;
        max-width: 100%; 
        margin: 7% auto;
    }

}


@media(max-width: 375px)

{
    .menu-item img {
        margin: 10% auto;
    }

}

.menu-items {
    margin: 20px;
}

@media(max-width: 320px)

{
    .menu-items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        margin: 0px;
    }

    .menu-item img {
        width: 100px; 
        height: 150px;
        max-width: 100%; 
        margin: 22% auto;
    }

   

}
