body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #aca6a6; 
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #080808; 
  color: white; 
  
  
}

.order-system {
  max-width: 1200px;
  min-width: 425px;
  margin: auto;
  padding: 20px;
  position: relative;
}

.name h1 {
  margin-top: 20px; 
  text-align: center;
}

.name hr{
  width: 70%; 
  margin: 10px auto; 
}


.order-products {
  width: 100%;
  border-spacing: 20px;
  margin-top: 20px; 
}

.product {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.product a {
  text-decoration: none;
  color: #080808;
}

.product img {
  width: 100px; 
  max-width: 100%; 
  border-radius: 8px;
}


label {
  display: block;
  margin-top: 10px;
}

input {
  width: 60px;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



.order_button {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.submit-button, .back-button {
  background-color: #6e4c4c;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 7px;
  margin: 0 10px; 
  cursor: pointer;
}


.product {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.product.selected {
  border-color: #007bff; /
}

/* Add your existing styles here */

/* Additional Information Section */

.name {
  margin-top: 20px;
  
}

.name h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.name hr {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}


input{
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.add{
  width: 100%;
  align-items: center;
}
/* Add your existing styles here */
